@keyframes dropmenu {
    0% {
        transform: rotateX(90deg)
    }
    100% {
        transform: rotateX(360deg)
    }
}

@keyframes dropmenuhide {
    0% {
        display: flex;
        transform: rotateX(90deg)
    }
    100% {
        display: none;
    }
}

@keyframes loginshow {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes menuBtnshow1 {
    0% {
        transform: rotateZ(0deg);
        transform: translateY(0px);
    }
    100% {
        transform: rotateZ(-45deg);
        transform: translateY(10px);
    }
}

@keyframes menuBtnshow3 {
    0% {
        transform: rotateX(0deg)
    }
    100% {
        transform: rotateX(-45deg)
    }
}