*:focus{
    outline: none;
}
.login {
    -webkit-animation: loginshow 1s 1 ease reverse;
            animation: loginshow 1s 1 ease reverse;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.55);
    -webkit-transition: 1s;
            transition: 1s;
    display: none;
    z-index: 1000;
}

.loginshow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: loginshow 1s 1 ease;
            animation: loginshow 1s 1 ease;
}

.userpanel{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #90a4ae;
    align-items: stretch;
    margin: auto;
    width: 100%;
}
.userrigth{
    margin: auto;
    display: flex;
    flex-direction: column;
}

.userrigth a{
    text-align: center;
    padding: 10px 30px;
    background: #4e6a79;
}

.userrigth a:hover{
    background: #343434;
}

.userleft{
    margin: auto;
    flex-direction: column;
    display: flex;
}
.userleft select{
        text-align: center;
    padding: 10px 30px;
    background: #4e6a79;
}

.login form {
    margin: auto;
    background: #b0bec5;
    padding: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 1s ease;
            transition: 1s ease;
    background: #90a4ae;
}

input::-webkit-input-placeholder {
    color: #343434;
}

input::-moz-placeholder {
    color: #343434;
}

input::-o-placeholder {
    color: #343434;
}

input::-ms-placeholder {
    color: #343434;
}

.login div#title {
    text-align: center;
    width: 100%;
}
.login div#title p{
    margin: auto auto auto 0;
}
 
.login form hr {
    box-shadow: 0px 5px 10px;
    border: 1px solid #bebebe;
    z-index: 1;
    border-radius: 10px;
}

.login form a p {
    text-align: center;
    background: none;
    margin: auto;
}

.login button {
    margin: auto 0 auto auto;
    border: 1px solid #ef5350;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    -webkit-transition: 500ms;
            transition: 500ms;
    box-shadow: 0 0 0 1px #ef5350;
}

.login button:hover {
    background: #ef5350;
    box-shadow: 0 0 0 5px #ef5350;
}

.login button:active {
    background: #ef5350;
    box-shadow: 0 0 0 5px #ef5350;
}

.login .logmain {
	margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
    min-width: 300px;
}
.logmain #title {
    width: 100%;
    padding: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #b0bec5;
}

.login form a {
    background: none;
    padding: 10px;
    color: #000;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin-top: 10px;
}
.топик{
    display: flex;
}
.топик form{
    margin: auto;
    height: 90%;
    width: 90%;
    display: block;
    padding: 10px;
}
.топик form input{
    width: 300px;
}
.топик form input[type="file"]{
    border: none;
    width: auto;
}
.топик form textarea{
    width: 100%;
    background: #b0bec5;
    resize: vertical;
}
.titleed{
    display: flex;
    justify-content: space-around;
    
}
.titleed select{
    display: block;
    margin: auto;
    padding: 10px;
    background: #b0bec5;
    color: #000;
    border: none;
    box-shadow: 0 0 0 2px #90a4ae;
    width: 500px;
    -webkit-transition: 50ms;
            transition: 50ms;
    margin: 2% 1%;
}
.login form a:hover {
    background: rgba(71, 181, 52, 0.35);
}

form input {
    display: block;
    margin: auto;
    padding: 10px;
    background: #b0bec5;
    color: #000;
    border: none;
    box-shadow: 0 0 0 2px #90a4ae;
    width: 100%;
    -webkit-transition: 50ms;
            transition: 50ms;
    margin: 2% 1%;
}

.logblock {
    width: 90%;
    padding: 1px 10px;
}

#butlog {
    background: #00ff31;
    box-shadow: 0 0 0 2px #00ff31;
    color: #000;
    -webkit-transition: 500ms;
            transition: 500ms;
    padding: 1px;
    font-size: 20px;
    margin-top: 10%;
	font-weight: bold;
}

#butlog:hover {
    box-shadow: 0 0 0 3px rgba(0, 255, 49, 0.49);
    background: rgba(0, 255, 49, 0.79);
	
}

#butlog:active {
    box-shadow: 0 0 0 3px rgba(14, 252, 179, 0.49);
    background: rgba(0, 255, 49, 0.99);
}

form input:hover {
    box-shadow: 0 0 0 2px rgb(0, 200, 200);
}

form input:valid {
    border-bottom: 1px solid #00ff0a;
}

form input:focus {
    background: #8bb1c4;
    color: #000;
    box-shadow: 0 0 0 2px rgb(0, 206, 255);
    -webkit-transition: 100ms;
            transition: 100ms;
}

form input:invalid {
    border-bottom: 1px solid rgba(255, 0, 0, 0.54);
}

section form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10% 30%;
}

section form p{
    padding: 30px;
    text-align: center;
    border: none;
    margin-top: 0;
    padding-top: 0;
}

form p{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    box-shadow: none;
    background: none;
}
form p input{
    display: block;
    margin: auto;
    padding: 10px;
    background: rgba(144, 164, 174, 0);
    color: #000;
    border: none;
    box-shadow: 0 0 0 0px #90a4ae;
    width: auto;
    -webkit-transition: 50ms;
            transition: 50ms;
    margin: 2% 1%;
}

#valid{
    height: 10px;
}

#sumbit:disabled, #sumbit:hover:disabled{
    background: #404040;
    box-shadow: 0 0 0 0px #00ff31;
    border: none;
}

#sumbit {
    background: #00ff31;
    box-shadow: 0 0 0 2px #00ff31;
    color: #000;
    -webkit-transition: 500ms;
            transition: 500ms;
    padding: 10px;
    font-size: 20px;
    margin-top: 10%;
}

#sumbit:hover {
    box-shadow: 0 0 0 3px rgba(0, 255, 49, 0.49);
    background: rgba(0, 255, 49, 0.79);
}

#reg:active {
    box-shadow: 0 0 0 3px rgba(14, 252, 179, 0.49);
    background: rgba(0, 255, 49, 0.99);
}

section form input {
    margin: 1% 0;
    padding: 10px;
}

@media screen and (max-width: 760px) {
    section form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    }
    .login .logmain{
        margin: auto 0;
        width: calc(100% - 20px);
    }
    .login{
        overflow-y: auto;
    }
    .userpanel{
        flex-direction: column;
    }
    .userrigth {
        margin: auto 10px;
    }
    .userrigth a{
        margin: auto 10px;
    }
    .userleft a{
        margin: auto 10px;
    }
}